<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  
    <add key="ListenAddress" value="193.169.1.100"/>
    <add key="ListenPort" value="12000"/>
    <add key="FileToRead" value="C:/Users/DELL/Desktop/Cliente Scaner/CalacasScaner.txt"/>
    <add key="LocalImageFolder" value="C:/Users/DELL/Pictures/MP Navigator EX/"/>
    <add key="RemoteImageFolder" value="Y:/" />
  </appSettings>
</configuration>